# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# Files
examples/my-experiments/datasets/10x_73k
examples/my-experiments/datasets/Australian
examples/my-experiments/datasets/FashionMNIST
examples/my-experiments/datasets/FashionMNIST_5
examples/my-experiments/datasets/MNIST
examples/my-experiments/datasets/Pendigits
examples/my-experiments/datasets/Wine
examples/my-experiments/datasets/Synthetic
examples/my-experiments/runs
